/ifStatment/nbproject/private/
/ifStatment/build/
/revertArray/nbproject/private/
/revertArray/build/
/Fichas/ex6G1/nbproject/private/
/ex6G1/nbproject/private/
/Fichas/Ficha5/integerFunction/nbproject/private/
/Fichas/Ficha5/integerFunction/build/
/Fichas/Ficha5/plusFunction/nbproject/private/
/Fichas/Ficha5/plusFunction/build/
/Fichas/Ficha5/numbersTable/nbproject/private/
/Fichas/Ficha5/numbersTable/build/
/Fichas/Ficha5/pairOrOdd/nbproject/private/
/Fichas/Ficha5/pairOrOdd/build/
/Fichas/Ficha5/invertWrite/nbproject/private/
/Fichas/Ficha5/invertWrite/build/
/Fichas/Ficha5/invertArray/nbproject/private/
/Fichas/Ficha5/invertArray/build/
/Fichas/Ficha5/vectores/nbproject/private/
/Fichas/Ficha5/vectores/build/